<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userdata">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username" class="form-control">
            <span *ngIf="signUpForm.get('userdata.username').errors['nameIsForbidden']">
              This name is forbidden
            </span>
            <span *ngIf="!signUpForm.get('userdata.username').valid && signUpForm.get('userdata.username').touched && signUpForm.get('userdata.username').errors['required']"
              class="help-block">
              This field is required
            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input type="text" id="email" formControlName="email" class="form-control">
            <span *ngIf="!signUpForm.get('userdata.email').valid && signUpForm.get('userdata.email').touched"
              class="help-block">
              Please enter a valid email
            </span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" formControlName="gender" [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <span>Your Hobies &nbsp;
            <button type="button" class="btn btn-default" (click)="onAddHubby()">Add
              Hobby</button>
          </span>
          <div class="form-group" *ngFor="let hobbyControl of getControls(); let i = index" [ngStyle]="{'margin-top': '5px'}">
            <input type="text" id="hobby" class="form-control" [formControlName]="i">
          </div>
        </div>
        <span *ngIf="!signUpForm.valid && signUpForm.touched" class="help-block">Please complete the form </span>
        <button class="btn btn-primary" type="submit" >Submit</button>
      </form>
    </div>
  </div>
</div>
