<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div class="list-group">
        <input type="text" class="form-control" [(ngModel)]="filterElement">
      </div>
      <button class="btn btn-primary mt-5" (click)="addServer()">
        Add Server
      </button>
      <hr>
      <h2>Server Status {{ serverStatus | async | uppercase }}</h2>
      <br>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filterElement:'status'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten:15 }}</strong> | {{ server.instanceType | uppercase }} | {{ server.started | date }}
        </li>
      </ul>
    </div>
  </div>
</div>
